@model IEnumerable<AllInOneMusic.Models.Release>

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    @foreach (var item in Model)
    {
        <div class="card m-1" style="width: 350px;">
            <h5 class="card-title">@Html.DisplayFor(modelItem => item.Artists)</h5>
            <h6 class="card-subtitle mb-2 text-muted">@Html.DisplayFor(modelItem => item.Name)</h6>
            <p class="card-text">@Html.DisplayFor(modelIdem => item.Date)</p>
            <img src="@Html.DisplayFor(modelItem => item.ImageUrl)" width="300" height="300" alt="Release_picture" />
            <a href="@Html.DisplayFor(modelItem => item.Link)" target="_blank">Listen</a>

        </div>

    }
</div>
